<div id="nav">
  <div class="ui top stackable menu">
    <div class="header item">
      <i class="large sticky note icon"></i>
      FoFy
    </div>
    <a class="<%= class_active('forms') %> item" href="/">Forms</a>
    <a class="<%= class_active('form_data') %> item" href="/form_data">Results</a>
  </div>
</div>
