<div class ="ui fluid-container">
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui secondary vertical pointing menu">
        <a class="active item">Short Answer</a>
        <a class="item">Paragraph</a>
        <a class="item">Multiple Choice</a>
        <a class="item">Checkboxes</a>
        <a class="item">Dropdown</a>
      </div>
    </div>
    <div class="thirteen wide column">
      Hi there
    </div>
  </div>
</div>
